DerivedDataCache/
Intermediate/
Binaries/
Build/
Saved/Logs/
Saved/Crashes/
*wakatime.ini
Saved/Config/CrashReportClient
Saved/Cooked/
Saved/Temp/
Saved/MaterialStats/
Saved/Shaders/
Saved/MaterialStatsDebug/
Saved/StagedBuilds/
Saved/Autosaves/